{% extends 'Main/base.html' %}

{% block content %}

<div class="terms-container">
    <div class="terms-header">
        <h1>Terms of Service</h1>
    </div>

    <div class="terms-content">
        <p>
            These Service Terms govern your use of the Services. Capitalized terms not defined here will have the
            meanings in the Terms of Use, Enterprise Agreement, or other agreement you have with us governing your use
            of the Services (“Agreement”). If there is a conflict between the Service Terms and your Agreement, the
            Service Terms will control. For purposes of these Terms, “Content” includes “Customer Content.”
        </p>
    </div>

    <div class="terms-content">
        <h4 class="mb-3">Services</h4>
        <p class="mb-3">
            The Services on this website are offered “as-is” to allow testing and evaluation, and Content you provide
            may be used to improve the Services. The Company (Deeplegal and Singularity Dynamics, LLC) makes no
            representation or warranties for the services, including any warranty that the Services will be generally
            available, uninterrupted or error-free, or that Content will be secure or not lost or damaged. Except to the
            extent prohibited by law, the Company expressly disclaims all warranties for its Services, including any
            implied warranties of merchantability, satisfactory quality, fitness for a particular purpose,
            non-infringement, or quiet enjoyment, and any warranties arising out of any course of dealing or usage of
            trade. The Company may use third party contractors to review content for safety and moderation purposes.
        </p>
        <p>
            The Services offered by the Company are for user entertainment purposes only and should not be relied upon
            for any reason. By using the site, the user accepts all of the terms in the Terms of Service, Terms of use,
            and other agreements contained in this site.
        </p>
    </div>
</div>

{% endblock %}